
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Playfair+Display:wght@500&family=Roboto+Mono:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Home page start */
.container{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    background-image: url(bc1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}

.nav_body{
    width: 100%;
    height: 99.99%;
    /* border: 1px solid rgb(0, 255, 115); */
}



/* nav bar start */
.nav_body .nav_bar{
    width: 100%;
    height: 8%;
    /* border: 1px solid rgb(98, 0, 255); */
    display: flex;
    justify-content: space-evenly;
}

/* nav logo start */
.nav_bar .nav_logo{
    padding: 1%;
    /* border: 1px solid rgb(98, 0, 255); */

}
.nav_bar .nav_logo h2{
    font-size: 30px;
    font-family: sans-serif;
    position: relative;
    bottom: 45%;
}
.nav_bar .nav_logo h2 span{
    font-family: 'Island Moments', cursive;
    font-size: 50px;
}

/* SVG text start */
.nav_logo svg{
    width: 90%;
    position: absolute;
    right: 38%;
    height: 15vh;
    bottom: 88%;
}

.nav_logo svg text{
    font-size: 70px;
    fill: rgba(58, 54, 54, 0.413);
    stroke-width: 1px ;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-dasharray:80 ;
    animation: animate_logo 2s linear infinite;
    width: 100%;
    border: 2px solid pink;
    font-family: 'Island Moments', cursive;

}

@keyframes animate_logo{
    100%{
        stroke-dashoffset: 160;
    }
}
/* nav logo end */

.nav{
    width: 35%;
    height: 100%;
    /* border: 1px solid rgb(62, 200, 224); */
    position: relative;
    left: 16%;
}


.nav ul{

    padding:10px;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
}
.nav ul li{
    list-style: none; 
    padding: 0 2% 0;
    padding-top: 2%;

}
.nav ul li a{
    font-size: 1.05rem;
    text-decoration: none;
    color: black;
}

.nav ul li a:hover{
    color: rgb(253, 250, 250);
    /* background-color: red; */
    border: 3px solid;
    border-left-color:black ;
    border-right-color:rgb(196, 14, 14) ;
    border-top-color:rgb(227, 24, 183) ;
    border-bottom-color:rgb(10, 174, 220) ;
    padding: 5px;
    transition: .5s;
}


.nav_icon{
    width: 25%;
    height: 100%;
    /* border:1px solid darkcyan; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 8%;
    display: flex;
}
.nav_icon li{
    position: relative;
    top: 1%;
    list-style: none;
    
}
.nav_icon a{
    /* border:1px solid darkcyan; */
    text-decoration: none;
}
.nav_icon ul li form input{
    font-size: 20px;
    width: 55%;
    height: 12%;
    /* border: 3px solid black; */
    /* border-radius: 20px; */
    float: right;
    position: relative;
    right: 40%;
    margin-top: 5%;
    opacity: 0;
    outline: none;
    background-color: none;
    background: none;
    border-color: none;
    /* border: none; */
    transition: 1s;
}
.nav_icon ul li input::placeholder{
    text-align: center;
    color: rgb(131, 116, 116);
    /* background-color: rgb(246, 238, 238); */
}

.icon_nav{
    display: flex;
    position: relative;
    left:60% ;
    justify-content: space-between;
}
.nav_icon ul li .fa-solid{
    color: rgb(67, 61, 61);
    font-size: 25px;
    position: relative;
    left: 68%;
    margin-top: 60%;
}
.nav_icon ul li .fa-regular{
    color: rgb(67, 61, 61);
    font-size: 25px;
    position: relative;
    left: 68%;
    margin-top: 60%;
}

.nav_icon ul li .fa-regular:hover{
    color: #416ec0c6;
}
.nav_icon ul li .fa-solid:hover{
    color: #416ec0c5;
}

/* nav bar end */

/* Body Start */
.body{
    width: 100%;
    height: 89vh;
    /* border: 1px solid green; */

}

.background_text{
    font-size:80px;
    position: relative;
    top: 30%;
    left: 55%;
    font-family: 'Island Moments', cursive;
    
}

.btn{
    width: 7%;
    height: 6%;
    border: 2px solid rgb(11, 11, 11);
    font-size: 30px;
    position: relative;
    top: 30%;
    left: 70%;
    background-color: rgba(29, 85, 162, 0.84);
    /* background-image: conic-gradient(red,green,yellow,pink,blue,teal); */
    animation: border_animate infinite linear .5s; 
    border-radius: 30px;
}
@keyframes border_animate{
    100%{
        /* transform: rotate(360deg); */
    }
}

.btn:hover{
    background-color: rgba(218, 82, 23, 0.548);
}
.btn .btn_border{
    width: 88.5%;
    height: 75%;
    /* border: 1.2px solid rgb(19, 18, 18); */
    font-size: 25px;
    position: relative;
    top: 10%;
    left: 5%;
    /* background-color: #434147; */
    /* border-radius: 10px; */
}
.btn h4 a{
    text-align: center;
    position: absolute;
    bottom: 7%;
    left: 8%;
    animation: btn_animate infinite linear .5s; 
    text-decoration: none;
    color: white;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.btn h4 a:hover{
    color: black;
}

/* @keyframes btn_animate{
    0%{
        color: white;
    }
    25%{
        color: rgb(131, 9, 9);
        transition: linear;
    }
    50%{
        color: rgb(56, 20, 216);
        transition: linear;
    }
    75%{
        color: rgb(136, 22, 111);
        transition: linear;
    }
    100%{
        color: white;
        transition: linear;
    }
} */


.winter_text{
    width: 40%;
    height: 5%;
    position: relative;
    top: 40%;
    left: 67%;
}
.winter_text h3{
    font-size: 20px;
    animation: vibrate infinite linear .6s;
}
@keyframes vibrate{
    0%{
        transform: translateX(0)
      }
      25%{
        transform: translateX(5px);
      }
        
      50%{
        transform: translateX(-5px);
      }
      100%{
        transform: translateX(0px);
      }
}
/* Body end */


/* Home page close */



/* <!-- Service start --> */
.conService{
    width: 100%;
    height: 100vh;
    /* border: 1px solid red; */
    overflow: hidden;
    /* background-image: url(service_back.jpg); */
    /* background-size: cover;
    background-color: linear-gradient(purple,blue);
    background-position: top;
    background-repeat: no-repeat; */
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#360033, #104d7d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#360033, #0d4a76); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}

.conService .categories1{
    width: 50%;
    height: 40vh;
    /* border: 1px solid rgb(85, 20, 214); */
    position: relative;
    top: 8%;
    left: 7%;
    display: flex;
    /* flex-wrap: wrap; */
}
.conService .categories2{
    width: 40%;
    height: 40vh;
    /* border: 1px solid rgb(0, 255, 247); */
    position: relative;
    top: 11%;
    left: 10%;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.man,
.woman{
    width: 80%;
    height: 83%;
    /* border: 1px solid green; */
    border-radius: 10px;
    justify-content: space-between;
    margin: 2%;
        /* box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.105),
                            rgba(72, 11, 185, 0.864)
                            rgba(210, 9, 9, 0.885)
                            rgba(255, 255, 255, 0.9); */
}
.accessories{
    width: 95%;
    height: 88%;
    /* border: 1px solid green; */
    border-radius: 10px;
    justify-content: space-between;
    margin: 2%;
        /* box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.105),
                            rgba(72, 11, 185, 0.864)
                            rgba(210, 9, 9, 0.885)
                            rgba(255, 255, 255, 0.9); */
}

.man{
    background-image: url(cm1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.woman{
    background-image: url(cw2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;
}
.accessories{
    background-image: url(ca3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.man h3{
    margin: 2%;
}
.woman h3{
    margin: 2%;
}
.accessories h3{
    /* margin: 2%; */
}

/* Buy Button Work */
.categories1 .btn_service {
    /* border: 1px solid rgb(140, 55, 237); */
    position: relative;
    margin-top: 50%;
    left: 78%;
    padding: 2%;
    height: 7.5%;
    width: 16%;
    background-color: teal;
    border-radius: 10px;
}

.categories1 .btn_service a{
    /* border: 1px solid red; */
    font-size: 16px;
    /* padding: 1%; */
    text-decoration: none;
    color: black;
}

.categories2 .btn_service {
    /* border: 1px solid rgb(119, 0, 255); */
    position: relative;
    margin-top: 32%;
    left: 85%;
    padding: 2%;
    height: 5.5%;
    width: 10%;
    background-color: teal;
    border-radius: 10px;
}

.categories2 .btn_service:hover{
    background-color: #0f5e2b;
}
.categories1 .btn_service:hover{
    background-color: #0f5e2b;
}

.categories2 .btn_service a{
    /* border: 1px solid red; */
    font-size: 18px;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 27%;
}
.categories2 .btn_service a:hover{
    color: white;
}
.categories1 .btn_service a:hover{
    color: white;
}


/* Main side box start*/

.box_side {
    width: 50px;
    height: 320px;
    position: relative;
    left: 92%;
    bottom: 104.5%;
    font-size: 20px;
    right: auto;
    z-index: 10;
    color: rgb(16, 16, 16,1);
    /* background: beige; */
    background: var(--clr);
    /* box-shadow: 0 0 10px 15px rgba(141, 132, 132, 0.856); */
    box-shadow: 0 0 35px 10px var(--clr);
    transition: .5s;
    border: 1 px solid pink;
}

.side_tag{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    animation: sideBox infinite linear .5s;
}

@keyframes sideBox{
    0%{
        color: red;
    }
    25%{
        color: rgb(0, 13, 255);
    }
    50%{
        color: rgb(255, 0, 217);
    }
    75%{
        color: rgb(16, 105, 36);
    }
    100%{
        color: rgb(199, 145, 29);
    }
}

.side_tag h3{
    display: inline-block;
    color: inherit;
    text-decoration-skip-ink: auto;
    margin: 15px auto 0;
    line-height: 20px;
    letter-spacing: 0.1em;
    -webkit-writing-mode:vertical-rl;
    writing-mode: vertical-rl;
    /* text-shadow: 5px 0 3px  rgba(168, 15, 15, 0.856); */
    transition:text-shadow .5s ease-in-out;
    /* text-decoration: line-through; */
}

.box_side::after {
    content: "";
    width: 5px;
    height: 37%;
    background-color: var(--clr);
    display: block;
    margin-left: 23px;
    bottom: 52%;
    z-index: -1;
}

/* Main side box end*/



/* <!-- Product at glance start --> */
.product{
    width: 50%;
    /* height: 1400px; */
    border: 5px solid brown;
    position: relative;
    bottom: 66.5%;
    left: 62%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.product::after{
    content: "";
    position: absolute;
    /* bottom: 30%; */
    top: 100.4%;
    width: 7.5%;
    background-color: brown;
    left: 45%;
    height: 31%;
    border: 2px solid brown;
}
.product img{
    width: 50%;
    height: 28%;
    position: relative;
    top: 105%;
    float: right;
    right: 55%;
}
/* <!-- Product at glance end --> */


/* Item Work Start */

/* Item List start */

.container_man {
    border: 5px solid black;
    width: 60%;
    height: 85vh;
    background-color: rgba(141, 132, 132, 0.856);
    overflow:scroll;
    border-radius: 10px;
    position: relative;
    left: 20%;
    top: 6.2%;
}

.container_man::-webkit-scrollbar {
    display: none;
}

#man_item {
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 232, 240, 0.856);
    overflow: hidden;
}
#woman_item {
    width: 100%;
    height: 100vh;
    background-color: rgba(237, 232, 240, 0.856);
    overflow: hidden;
}

.woman_nm_tag{
    width: 100%;
    height: 7.5vh;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 35px;
    position: relative;
    top: 2%;
}

.man_nm_tag{
    width: 100%;
    height: 7.5vh;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 35px;
    position: relative;
    top: 2%;   
}  

.container_woman {
    border: 5px solid black;
    width: 60%;
    height: 85vh;
    background-color: rgba(141, 132, 132, 0.856);
    overflow:scroll;
    border-radius: 10px;
    position: relative;
    left: 20%;
    top: 6.2%;
}

.container_woman::-webkit-scrollbar {
    display: none;
}

.M_tag{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 8px 5px rgb(23, 20, 20);
    margin-left: 40%;
    width: 250px;
    text-align: center;
    margin: 20px 37% 0;
}
.M_tag.Women_Western{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 0 8px 5px rgb(23, 20, 20);
    width: 445px;
    position: relative;
    right: 7%;
    text-align: center;
    margin: 20px 33% 0;
}

.container_acc{
    border: 5px solid black;
    width: 60%;
    height: 85vh;
    background-color: rgba(141, 132, 132, 0.856);
    overflow:scroll;
    border-radius: 10px;
    position: absolute;
    left: 20%;
    top: 13.2%;
}

.container_acc::-webkit-scrollbar {
    display: none;
}

#man_item_acc.man_tbag{
    position: relative;
    top: 3%;
}
#man_item_acc.man_tbag .ImagesMT{
    display: flex;
    max-width: 100%;
    margin: 5%;
    overflow: scroll;
    text-align: center;
}
#man_item_acc.man_tbag .ImagesMT::-webkit-scrollbar {
    display: none;
  }
#man_item_acc.man_tbag img{
    height: 180px ;
    width: 180px;
    padding: 18px;
    box-shadow: 0 0 5px gray;
}



.man_tbag{
    position: relative;
    top: 3%;
}
.man_tbag .ImagesMT{
    display: flex;
    max-width: 100%;
    margin: 5%;
    overflow: scroll;
    text-align: center;
}
.man_tbag .ImagesMT::-webkit-scrollbar {
    display: none;
  }
.man_tbag img{
    height: 180px ;
    width: 180px;
    padding: 18px;
    box-shadow: 0 0 5px gray;
    cursor: pointer;
}


.item_scroll .fa-solid{
    color: wheat;
    font-size: 20px;
    position: fixed;
    margin-top: 8.5%;
    margin-left:1.5%;
    cursor: pointer;
    /* border: 1px solid red; */
}
.item_scroll1 .fa-solid{
    color: wheat;
    font-size: 20px;
    position: fixed;
    margin-top: 8.5%;
    margin-left:58%;
    cursor: pointer;
    /* border: 1px solid red; */
}

.imageMT h5{
    text-align: center;
}
.imageMT h6{
    padding: 0 15px;
    text-align: center;
}




#man_item_acc.M_tag::before{
    content: '';
    display: block;
    position: absolute;
    width: 52px;
    height: 2px;
    background-color: #434147;
    text-decoration-line: line-through;
    margin-top: 120px;
    left: 492%;
    box-shadow: 0 0 5px 3px rgb(74, 68, 68);
}
#man_item_acc.M_tag::after{
    content: '';
    display: block;
    position: absolute;
    width: 52px;
    height: 3px;
    background-color: #434147;
    text-decoration-line: line-through;
    margin-top: -15px;
    left: 52.5%;
    box-shadow: 0 0 5px 3px rgb(74, 68, 68);
}




.M_tag::before{
    content: '';
    display: block;
    position: absolute;
    width: 52px;
    height: 2px;
    background-color: #434147;
    text-decoration-line: line-through;
    margin-top: 12px;
    left: 32%;
    box-shadow: 0 0 5px 3px rgb(74, 68, 68);
}
.M_tag::after{
    content: '';
    display: block;
    position: absolute;
    width: 52px;
    height: 3px;
    background-color: #434147;
    text-decoration-line: line-through;
    margin-top: -15px;
    left: 63.5%;
    box-shadow: 0 0 5px 3px rgb(74, 68, 68);
}
.M_tag.Women_Western::before{
    content: '';
    display: block;
    position: absolute;
/* c:\Program Files\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.html    
*/  width: 52px; 
    height: 2px;
    background-color: #434147;
    text-decoration-line: line-through;
    margin-top: 12px;
    left: -10%;
    box-shadow: 0 0 5px 3px rgb(74, 68, 68);
}
.M_tag.Women_Western::after{
    content: '';
    display: block;
    position: absolute;
    width: 52px;
    height: 3px;
    background-color: #434147;
    text-decoration-line: line-through;
    margin-top: -15px;
    left: 99%;
    box-shadow: 0 0 5px 3px rgb(74, 68, 68);
}

/* Item Work End  */

/* #################### Product over #################### */

/* <!-- Service end --> */




/* <!-- Fresh Arrival start --> */

.fresh_con{
    width: 100%;
    height: 100vh;
    /* background-image: url(fresh_bc.jpg); */
    background-image: url(freshbc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.freshnm_tag{
    width: 17%;
    height: 6vh;
    /* border: 1px solid red; */
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 3%;
    left: 2%;
    font-weight: 600;
    animation: fresh_animate infinite 1s .1s linear ;
    /* font-family: monospace; */
    font-family: amotrio;
}

@keyframes fresh_animate{
    0%{
        color: red;
        opacity: .3;
    }
    25%{
        color: rgb(64, 25, 222);
        opacity: .5;
    }
    50%{
        color: rgb(204, 243, 50);
        opacity: .8;
    }
    75%{
        color: rgb(255, 123, 0);
        opacity: .9;
    }
    100%{
        color: rgb(255, 0, 153);
        opacity: 1;
        transform: skew(2deg,3deg);
    }
}

.freshnm_tag span{
    font-family: 'Island Moments', cursive;
    font-size: 50px;
}

.fresh_con .body_fresh{
    height: 80vh;
    width: 80%;
    /* border: 1px solid red; */
    position: relative;
    left: 5%;
    top: 10%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.body_fresh .body_fresh_content{
    width: 60%;
    height: 30%;
    /* border: 1px solid rgb(106, 0, 255); */
    position: relative;
    font-size: 80px;
    color: white;
    left: 7%;
    top: 10%;
}

.body_fresh .body_fresh_content .percent{
    position: absolute;
    font-size: 30px;
    color: white;
    left: 16%;
    top:18%;
    width:4%;
    height: 16%;
    /* border: 1px solid rgb(106, 0, 255); */
}
.body_fresh .body_fresh_content h3{
    position: absolute;
    font-size: 30px;
    color: white;
    left: 16%;
    top:40%;
    width:8%;
    height: 16%;
    /* border: 1px solid rgb(106, 0, 255); */
}
.body_fresh .body_fresh_content h2{
    position: absolute;
    font-size: 70px;
    color: white;
    left: 1%;
    top:60%;
    width:23%;
    height: 36%;
    /* border: 1px solid rgb(106, 0, 255); */
}

.body_fresh .body_fresh_content .label_sale{
    position: absolute;
    font-size: 30px;
    color: white;
    left: 30%;
    top:15%;
    width:44%;
    height: 20%;
    /* border: 1px solid rgb(106, 0, 255); */
}
.body_fresh .body_fresh_content .label_sale1{
    position: absolute;
    font-size: 25px;
    /* color: rgb(44, 9, 245); */
    left: 30%;
    top:52%;
    width:44%;
    height: 50%;
    /* border: 1px solid rgb(106, 0, 255); */
    color: #12c2e9;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fresh_con .body_fresh .fresh_man{
    width: 75%;
    height: 45%;
    position: relative;
    left: 1%;
    top: 25%;
    padding-top: 1%;
    /* border: 5px solid pink; */
    display:flex;
    overflow:scroll;
    /* padding: 3%; */
    justify-content:space-evenly;
    animation: border_animate_fresh 1s infinite;
}

@keyframes border_animate_fresh{
    0%{
        border-color:#e91e63;
        transition: .5s;
    }
    20%{
        border-color:#4d1ee9;
        transition: .5s;
    }
    30%{
        border-color:#1f71ca;
        transition: .5s;
    }
    45%{
        border-color:teal;
        transition: .5s;
    }
    50%{
        border-color:#1ca;
        transition: .5s;
    }
    65%{
        border-color:#d5e9;
        transition: .5s;
    }
    85%{
        border-color:#0f5e2b;
        transition: .5s;
    }
    100%{
        border-color:#8ee91e;
        transition: .5s;
    }
}


.fresh_man #Fman1{
    width: 200px;
    height: 250px;
    background-image:url('fm1.jpg');    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.fresh_man #Fman2{
    width: 200px;
    height: 250px;
    background-image:url('fw2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fresh_man #Fman3{
    width: 200px;
    height: 250px;
    background-image:url('fm3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fresh_man #Fman4{
    width: 200px;
    height: 250px;
    background-image:url('fw3.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fresh_man::-webkit-scrollbar {
    display: none;
}

.fresh_con .body_fresh .fresh_man img{
    /* width: 200px;
    height: 250px; */
    /* padding: 2%; */
}

.fresh_buy_cart{
    color: white;
    font-size: 15px;
    font-weight: 300;
    width: 22%;
    height: 4.5vh;
    /* border: 1px solid red; */
    position: absolute;
    bottom: 6.2%;
    background-color: rgba(128, 128, 128, 0.677);

}

.fresh_buy_cart a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 0 10px;
    position: relative;
    justify-content:center;
    align-items: center;
    margin: auto;
    left: 15%;
    top: 8%;
}

.fresh_buy_cart button{
    font-size: 20px;
    position: relative;
    /* padding: 0.1%; */
    border: none;
    background: none;
    justify-content:center;
    align-items: center;
    margin: auto;
    left: 10%;
    top: 8%;
}

#fresh_buy_cart1{
    opacity: 0;
}
#fresh_buy_cart2{
    opacity: 0;
}
#fresh_buy_cart3{
    opacity: 0;
}
#fresh_buy_cart4{
    opacity: 0;
}

.fresh_buy_cart button a:hover{
    color: black;
    /* font-size: 25px; */
    transform: scale(1.5);
    /* font-weight: 500; */
    transition: .5s;
}
.fresh_buy_cart a .fa-solid:hover{
    color: black;
    /* font-size: 25px; */
    transform: scale(1.5);
    transition: .5s;
}



/* <!-- Fresh Arrival end --> */







/* <!-- About start --> */

.abt_con{
    width: 100%;
    height: 130vh;
    position: relative;
    /* background-image: url(service_back.jpg); */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    /* border: 1px solid red; */
}

.abt_heading_body{
    width: 99.99%;
    height: 99vh;
    position: relative;
    /* border: 1px solid rgb(186, 66, 66); */

}

.abt_heading_body .heading{
    position: relative;
    top: 5%;
    right: 5%;
    width:100%;
    height: 20vh;
    text-align: center;
    font-size: 40px;
    font-weight: 500;

    /* border: 1px solid pink; */
    /* background-image: url(About1.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; */
}

.abt_heading_body .heading h2{
    text-align: center;
}

.about_body{
    width: 100%;
    height: 80vh;
    /* border: 1px solid rgb(62, 26, 194); */
    /* overflow: scroll; */
    display: block;
    position: relative;
    top: 10%;
}

.about_body::-webkit-scrollbar {
    display: none;
}

.abt_body1{
    width: 98%;
    height: 32vh;
    display: flex;
}

.abt_body1 .abtImg1{
    width: 30%;
    height: 40vh;
    position: relative;
    left: 25%;
    top: 20%;
    /* border: 1px solid red; */
}

.abt_body1 .abtImg1 img{
    width: 80%;
    position: relative;
    height: 300px;
    border-radius: 20px;
}
.abt_body1   .abt_content{
    width: 35%;
    height: 30vh;
    overflow: scroll;
    border: 3px solid palegreen;
    border-radius: 20px;
    position: relative;
    left: 5%;
    top: 15%;
    padding:2% 1%;
    
}

.abt_content h2{
    padding-bottom:2% ;
    text-decoration: underline;
    font-size: 30px;
    color: crimson;
}
.abt_content::-webkit-scrollbar {
    display: none;
}

/* -- */

.abt_body2{
    width: 98%;
    height: 32vh;
    position: relative;
    top: 45%;
    display: flex;
}

.abt_body2   .abt_content2{
    width: 35%;
    height: 30vh;
    overflow: scroll;
    border: 3px solid palegreen;
    border-radius: 20px;
    position: absolute;
    left: 55%;
    bottom: 25%;
    padding:2% 1%;
    float: right;
}

.abt_body2 .abtImg2{
    width: 30%;
    height: 40vh;
    position: absolute;
    left: 10%;
    bottom: 25%;
    /* border: 1px solid red; */
}

.abt_body2 .abtImg2 img{
    width: 100%;
    position: relative;
    height: 300px;
    border-radius: 20px;
}

.abt_content2 h2{
    padding-bottom:2% ;
    text-decoration: underline;
    font-size: 30px;
    color: crimson;
}
.abt_content2::-webkit-scrollbar {
    display: none;
}


/* <!-- About end --> */




/* main content */
#contact{
    height: 110vh;
    width: 100%;
    background: url('contact_bc.jpg');
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}
.container_contact1{
    position: relative;
    top:8%;
    height: 60vh;
    width: 48%;
    /* padding: 50px 100px; */
    background: url('19873.jpg');
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

#contact .content{
    width: 100%;
    position: relative;
    top: 5%;
    height: 7vh;
    /* border: 1px solid green; */
}
#contact .content h2{
    text-align: center;
    font-size: 36px;
    font-weight: 1600;
    color: rgba(18, 17, 17, 0.831);
}

.container_contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* height: 100vh; */
    /* border: 4px solid rgb(34, 99, 88); */
    border-radius: 20px;
}
.cfrom1{
    width: 80%;
    padding: 40px;
    background: #fff;
}
.cfrom1 form legend{
    padding-bottom: 5%;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
.cfrom1 h2{
    font-size: 30px;
    color: #333;
    font-weight: 600;
    position: relative;
    bottom: 10%;
}

.cfrom1 .inputbox{
    position: relative;
    width: 100%;
    margin: top 10px ;
}

.cfrom1 .inputbox input,
.cfrom1 .inputbox textarea
{
    width: 100%;
    margin:10px 0 ;
    padding: 5px 0;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.cfrom1 .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.cfrom1 .inputbox input:focus ~ span,
.cfrom1 .inputbox input:valid ~ span,
.cfrom1 .inputbox textarea:focus ~ span,
.cfrom1 .inputbox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.cfrom1 .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* normal text form start */
.normal_text_form{
    /* font-size: 26px; */
    color: #666; 
}



/* map start */
.map{
    width: 40%;
    height: 20vh;
    /* border: 1px solid red; */
    position: relative;
    float: right;
    right: 3%;
    bottom: 49%;
}
/* map end */
/* normal text form end */


/* contact end  */

/* contact footer start */
.footer{
    position: relative;
    top: 11%;
    height: 21vh;
    width: 100%;
    border-top: 3px solid black;
}

.footer .container_footer{
    display: grid;
    padding: 2%;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns:300px 200px 150px 250px 200px;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 4rem;
    border: 1px solid pink;
    width: 100%;
    position: absolute;
    top: 0%;
    background-color: rgb(221, 201, 201);
    opacity: .9;
}

.box_footer{
    /* border: 1px solid rgb(155,19,19); */
    /* background-color: green; */
    padding: 10px;
}

.footer .footer_img{
    width: 65%;
    /* border: 1px solid yellow; */
    position: relative;
    bottom: 10%;
}
.footer .footer_img,.footer_content h4{
    text-align: left;
}
.footer .footer_img h3{
    text-align: center;
    font-size: 14px;
}
.footer .footer_img img{
    width: 170px;
    height: 150px;
    position: relative;
    left: 4.6%;
    border-radius: 10px;
}

.footer_content{
    padding: 5%;
    height: 15vh;
    width: 90%;
    /* background-color: rgb(102, 161, 209); */
}
.footer_content a{
    text-decoration: none;
    color: black;
    margin: 4%;
    font-size: 30px;
    border-radius: 10px;
    padding: 3%;
}

.footer_content a:nth-child(1):hover{
    box-shadow: 0 0 5px 5px rgba(51, 0, 255, 0.448);
    background-color: rgba(255, 0, 0, 0.485);
    transition: .5s;
}

.footer_content h4{
    position: relative;
    top: 20%;
    font-size: 25px;
    left: 4%;
    display: inline;
}
.footer_content h2{
    text-align:center;
    background-color: brown;
}

.contact_info{
    height: 25vh;
    font-size: 20px;
    grid-column: 3/span 2;
    position: relative;
    /* top: 2%; */
    /* grid-row: 3/span 1; */
}

.contact_info h3{
    padding: 0 2%;
}
.contact_info .fa-regular {
    padding: 0 2%;
}
.contact_info h5{
    padding: 0 6%;
    margin-top: 2%;
}

.contact_info .copyright{
    background-color: #333;
    color: white;
    height: 3vh;
    font-size: 15px;
    position: relative;
    top: 14%;
    width: 168%;
    float: right;
    /* right: .5%; */
    font-family: 'Roboto Mono', monospace;

}

.footer .subscribe{
    position: relative;
    height: 25vh;
    padding: 5%;
    top: 19%;
    width: 110%;
    
    /* grid-column: 4/span 2; */
}

.footer .subscribe h3{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}
    

.footer .subscribe .subscribe_btn{
    border: 1px solid black;
    /* background-color: yellow; */
    width: 85%;
    height: 5vh;
    position: relative;
    top: 10%;
    left: 23%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    padding: 2%;
}

.footer .subscribe input{
    height: 3vh;
    width: 55%;
    border: none;
    background: none;
    position: relative;
    top: 15%;
    outline: none;
    left: 7%;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 20px;
    overflow:hidden;
    overflow: scroll;
}

.footer .subscribe input::placeholder{
    font-size: 18px;
    position: relative;
    bottom: 5%;
    color: rgb(14, 14, 14);
    /* padding-left: 5%; */
}

.footer .subscribe .subscribe_btn button{
    font-size: 20px;
    background-color: #e91e63;
    padding: 2%;
    border-radius: 10px;
    bottom: 1%;
    position: relative;
    left: 10%;
}
/* contact footer end */